---
const { title } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        rel="shortcut icon"
        href="../assets/pokemon.png"
        type="image/x-icon"
    />
    <link
        rel="shortcut icon"
        href="../../public/favicon.ico"
        type="image/x-icon"
    />
    <script src="../3.4.js"></script>
    <script src="../controllers/flowbite.min.js"></script>
    <title>{title}</title>
</head>
