---
const { title } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/pokeball.png" type="image/png" />
    <script src="../controllers/flowbite.min.js"></script>
    <title>{title}</title>
</head>
